footer {
    padding: 3px;
    color: var(--selected-color);
    background-color: var(--selected-bg-color);
    border-top-color: var(--separator-color);
    border-top-style: solid;
    border-top-width: 1px;
}
